.weekday {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.6rem;
}
  
.weekday .containerCheckbox {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

@media (max-width: 739px) {
  .weekday .containerCheckbox {
    margin-right: 0.8rem;
  }
}